*{
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
:root {
    color-scheme: light only;
}
body{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    height: 60px;
    background-color: #003478;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: rgb(163, 163, 163);
}
.active-link{
    font-weight: 900;
}
.hamburger{
    display: none;
}
.hamburger, .hamburger-navigation{
    transition: transform .2s .1s ease-in-out;
}
.hamburger--active{
 transform: translateX(250px);
}
.hamburger__box{
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}
@mixin hamburger-line{
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
}

.hamburger__inner{
    @include hamburger-line;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s .2s ease-in-out;
}
.hamburger__inner::before,
.hamburger__inner::after{
    @include hamburger-line;
    content: '';
    left: 0;
    transition: transform .3s .2s ease-in-out;
}
.hamburger__inner::before{
    top: -10px;
}
.hamburger__inner::after{
    top: 10px;
}
.hamburger--active .hamburger__inner{
    background-color: transparent;
}
.hamburger--active .hamburger__inner::before{
    transform: translateY(10px) rotate(45deg);
}
.hamburger--active .hamburger__inner::after{
    transform: translateY(-10px) rotate(-45deg);
}
.hamburger-navigation{
    height: 100vh;
    width: 250px;
    background-color: #003478;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-250px);
}
.hamburger-navigation--active{
    transform: translateX(0px);
}
.hamburger-list{
    list-style: none;
    margin-top: 50px;
    margin-left: 20px;
    &__item{
        margin-bottom: 20px;
    }
}
.nav-list{
    display: flex;
    justify-content: center;
    &__item{
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        align-items: center;
        letter-spacing: -0.015em;
        color: #FFFFFF;
        margin-right: 15px;
    }
}
header{
    background-image: url(/img/main-background.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
}
.logo{
    transform: translateY(-40px);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img{
        max-width: 70%;
        height: auto;
    }
}
.logo__title{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
}
button{
    width: 251px;
    height: 68px;
    color: black;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 61px;
    letter-spacing: -0.015em;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.separation{
    width: 100%;
    height: 20px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.services{
    max-width: 100%;
    height: auto;
    background-image: url(/img/background-services.webp);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    &__svg{
        max-width: 100%;
        height: auto;
    }
}
.about-us{
    scroll-snap-align: start;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 50px;
    &__img{
        max-width: 400px; 
        height: auto;
        margin-left: 50px;
    }
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        max-width: 100%;
    }
    &__title{
        width: 100%;
        height: 50px;
        background-color: #AF282E;
        text-align: center;
        margin-bottom: 50px;
    }
    &__title h2{
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 51px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #FFFFFF;
    }
    &__text{
        color: #000;
        max-width: 100%;
        padding: 10px;
    }
    &__text p{
        color: #000;
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 200;
        font-size: 28px;
        text-align: center;
        letter-spacing: -0.015em;
    }
    &__button{
        display: inline-block;
        background-color: #AF282E;
        color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
.employment-offer{
    scroll-snap-align: start;
    max-width: 100%;
    height: 400px;
    background-image: url(/img/employment.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &__img{
        max-width: 450px;
        height: auto;
    }
    h3{
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 61px;
        letter-spacing: -0.015em;
        text-align: center;
    }
    a{
        text-decoration: none;
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    a:hover{
        color: #000000;
    }
}
.projects-gallery{
    scroll-snap-align: start;
    max-width: 100%;
    height: 400px;
    background-image: url(/img/gallery.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h3{
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 61px;
        letter-spacing: -0.015em;
    }
    a{
        text-decoration: none;
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }
    a:hover{
        color: #000000;
    }
}
.contact{
    scroll-snap-align: start;
    max-width: 100%;
    background-image: url(/img/background-contact.webp);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    &__title{
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 500;
        font-size: 72px;
        line-height: 92px;
        text-align: center;
        letter-spacing: -0.015em;
        color: rgba(0, 0, 0, 0.9);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
form{
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact__container{
    margin-top: 20px;
}
.name-email-container{
    display: flex;
    flex-direction: row;
    max-width: 50%;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    &__input{
        background: rgba(0, 0, 0, 0.726);
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        font-size: 25px;
        padding: 10px;
    }
}
#name{
    margin-right: 10px;
}
.buttons-container{
    display: flex;
    justify-content: center;
}
.contact__button{
    background-color: #AF282E;
    color: #fff;
}
.textareaContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
textarea{
    width: 1000px;
    resize: none;
    height: 431px;
    background: rgba(0, 0, 0, 0.726);
    border: none;
    font-size: 25px;
    padding: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
label{
    margin-top: 10px;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 100px;
    &__phone{
        width: 100%;
        height: 140px;
        background-color: #AF282E;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__mail{
        width: 100%;
        height: 140px;
        background-color: #003478;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
    }
    &__text{
        font-size: 35px;
        text-align: center;
    }
    &__svg{
        margin: 20px;
    }
}
footer{
    max-width: 100%;
    height: 264px;
    background: #AF282E;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.section{
    width: 100%;
    &__title{
        text-align: center;
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 61px;
        letter-spacing: -0.015em;
    }
    &__text{
        text-align: center;
        list-style-type: none;
    }
}
.copyright{
    transform: translateY(-1px);
    max-width: 100%;
    background-color: #AF282E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__line{
        width: 50%;
        height: 3px;
        background-color: #fff;
    }
    &__text{
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .logo__title{
        font-size: 28px;
    }
    button{
        width: 201px;
        height: 48px;
        font-size: 25px;
        line-height: 10px;
    }
    .nav-list__item{
        font-size: 12px;
    }
    .about-us__img{
        max-width: 200px; 
        height: auto;
        margin-left: 50px;
    }
    .projects-gallery img{
        max-width: 50%;
    }
    .employment-offer{
        a{
            margin-bottom: 20px;
        }
    }
    .section__title{
        font-size: 15px;
    }
    #section-name{
        display: none;
    }
    .buttons__text{
        font-size: 20px;
        text-align: center;
    }
    
  }
@media only screen and (max-width: 1020px){
    .about-us__title h2{
        font-size: 25px;
    }
    .about-us__text p{
        font-size: 20px;
    }
    .about-us__button{
        width: 151px;
        height: 38px;
        font-size: 20px;
        line-height: 4px;
    }
    .projects-gallery h3{
        font-size: 30px;
    }
    .employment-offer h3{
        font-size: 30px;
    }
    .buttons{
        flex-direction: column;
        max-width: 100%;
        &__mail{
            padding-left: 0px;
        }
        &__svg{
            max-width: 50%;
            max-height: 50%;
        }
    }
} 
@media only screen and (max-width: 820px){
    .about-us{
        z-index: 20;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .about-us__title{
        width: 90%;
        height: 50px;
        background-color: #AF282E;
        text-align: center;
        margin-bottom: 15px;
    }
    .about-us__img{
       margin-right: 50px;
    }
}
@media only screen and (max-width: 1200px){
    textarea{
        width: 100%;
    }
}
@media only screen and (max-width: 915px){
    .contact__title{
        font-size: 50px;
    }
    textarea{
        max-width: 100%;
    }
    form{
        margin-left: 50px;
        margin-right: 50px;
    }
    .section__title{
            font-size: 20px;
        }
    .section__text{
            font-size: 12px;
    }
    .nav-list{
        display: none;
    }
    .hamburger{
        position: absolute;
        top: -5px;
        left: -70px;
        padding: 10px;
        display: inline-block;
        background-color: transparent;
        box-shadow: none;
        margin: 0;
    }
}
@media only screen and (max-width: 690px){
    .contact__title{
        font-size: 40px;
    }
    .name-email-container{
        flex-direction: column;
        max-width: 100%;
    }
    .inputContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #name{
        margin-right: 0px;
    }
    footer{
        height: 214px;
    }
}
@media only screen and (max-width: 395px){
    .contact__title{
        font-size: 30px;
    }
    form{
        margin-top: 0px;
    }
    .contact__container{
        max-width: 100%;
    }
    .copyright__text{
        font-size: 15px;
    }
    .buttons__svg{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .hamburger{
        top: 5px;
    }
}
@media (prefers-color-scheme: dark) {
    button{
        background-color: #fff;
        color: #000;
    }
    a{
        color: #fff;
    }
    .separation{
        background-color: #fff;
    }
    body{
        background-color: #fff;
    }
}